<h1>Project</h1>
<% if @project.present? %>
  <h2><%= @project.name %></h2>
  <p><%= @project.description %></p>
<% else %>
  <h2>No project found</h2>
<% end %>

<% if @project.campaigns.present? %>
  <h2>Project</h2>
  <ul>
    <% @project.campaigns.each do |campaign| %>
      <h4><%= link_to campaign.name, location_project_campaign_path(@location, @project, campaign) %></h4>
    <% end %>
  </ul>
<% end %>
