<h2>New Address</h2>
<h4>For:
  <% if @context.email.nil? %>
    <%= @context.name %>
  <% else %>
    <%= @context.email %>
  <% end %>
</h4>
<%= render partial: "form", locals: {context: @context, address: @address} %>
