<h1>Campaigns</h1>
<% if @campaigns.present? %>
  <ul>
  <% @campaigns.each do |campaign| %>
    <li><%= link_to campaign.name, campaign_path(campaign) %></li>
    <% if admin_signed_in? %>
      <%= link_to 'edit', edit_location_project_campaign_path(@location, @project, campaign), class: "btn btn-default" %>
      <%= link_to 'delete', location_project_campaign_path(@location, @project, campaign), method: :delete, class: 'btn btn-default', data: {confirm: "Are you sure you want to delete this campaign?"} %>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% if admin_signed_in? %>
  <hr />
  <div>
    <%= link_to 'Create Campaign', new_location_project_campaign_path, class: "btn btn-default" %>
  </div>
<% end %>
